body { 
  font-family: SourceSansPro, sans-serif; 
  font-style: normal;
  font-weight: 300;
}

.menu_font_built_bold { 
  font-family: BuiltTitling, sans-serif; 
  font-weight: bold;
  font-style: normal;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255 / 82%);
}